# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.venv/
venv/
.DS_Store

# Coverage
htmlcov
.coverage*
coverage.xml


# IDEs
.idea/
*.swp
.vscode

# due to using tox and pytest
.tox
.cache

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Hypothesis
*.hypothesis
*.pytest_cache

# Folder with my "to do" lists and removed code
trash/

# mypy
.mypy_cache/
