include LICENSE.txt

exclude tox.ini

prune src
prune tests
prune .idea
prune *mypy*
prune docs

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .*

recursive-include src *.py *.txt
